.mainBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 605px;
    background-color: #2F2F2F;
    position: relative;
}
.mainContainer {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.imgBlock {
    width: 428px;
    height: 375px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.logoBlock {
    width: 345px;
    margin-left: 60px;

}

.logo {
    font-family: "Druk Cyr", serif;
    font-size: 80px;
    line-height: 90%;

}
.instagramIcon {
    margin-right: 10px;
    width: 21px;
    height: 21px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.instagramBlock {
    display: flex;
    font-size: 20px;
    color: #7FF950;
    margin-bottom: 10px;
}

.greenText {
    color: #7FF950;
}

.circle1 {
    position: absolute;
    top: 0;
    left: -300px;
    width: 700px;
    height: 300px;
    background-color: #7FF950;
    opacity: 0.3;
    border-radius: 100px;
    filter: blur(200px);
    z-index: 0;
}

.circle2 {
    position: absolute;
    top: 500px;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: #7FF950;
    opacity: 0.3;
    border-radius: 100px;
    filter: blur(200px);
    z-index: 0;
}

@media screen and (max-width: 1600px) {
    .mainBlock {
        height: 100vh;
    }
    .mainContainer {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
.imgBlock {
    width: 336px;
    height: 345px;
    background-position: left;

}
.logo {
    font-size: 50px;
}


}
