.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: #2F2F2F;
    padding-top: 47px;
    z-index: 0;
}
.easterBlock {
    width: 1604px;
    height: 595px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.easterBlock p {
    position: absolute;
    top: 80px;
    width: 20%;
    text-align: center;
    font-family: 'Gill Sans Light', serif;
    font-size: 24px;
    line-height: 95.5%;

}

.wreathBlock {
    width: 100%;
    height: 100%;
    color: #FFCB75;
    font-size: 100px;
    text-align: center;
    font-weight: normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

}
.wreathBlock:before {
    position: absolute;
    content: '';
    width: 600px;
    height: 600px;
    background: #FFCB75;
    bottom: 100px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0.2;
    filter: blur(200px);
    z-index: -1;
}

.mainBlock h5 {
    top: 135px;
    position: absolute;
    z-index: 0;
    color: #FFCB75;
    font-size: 80px;
    margin: 20px;

}
.mainBlock h1 {
    margin: 260px 0 0 0;
    font-size: 250px;
}

.oriol1 {
    position: absolute;
    top: -150px;
    left: 400px;
    width: 700px;
    height: 100px;
    background-color: #FFCB75;
    opacity: 0.3;
    border-radius: 100px;
    filter: blur(100px);
    z-index: 1;
}

@media screen and (max-width: 1600px) {
    .wreathBlock {
        width: 585px;
        height: 217px;
    }
    .easterBlock{
        width: 585px;
        height: 217px;
    }
    .easterBlock p {
        font-size: 18px;
        top: -30px;
        width: 216px;
    }
    .mainBlock h1 {
        font-size: 80px;
        margin: 100px 0 0 0;
    }
    .mainBlock h5 {
        font-size: 30px;
        top: 40px;
    }


}



