.mainBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-color: #2F2F2F;
    padding-top: 47px;
}
.easterBlock {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.easterBlock p {
    width: 263px;
    text-align: center;
    font-family: 'Gill Sans Light', serif;
    font-size: 22px;
    line-height: 95.5%;

}

.wreathBlock {
    width: 80%;
    height: 80%;
    color: #FFCB75;
    font-size: 100px;
    text-align: center;
    font-weight: normal;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

}
.wreathBlock:before {
    position: absolute;
    content: '';
    width: 600px;
    height: 600px;
    background: #FFCB75;
    bottom: 100px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0.2;
    filter: blur(200px);
    z-index: -1;
}

.mainBlock h5 {
    top: 60px;
    position: absolute;
    z-index: 0;
    color: #FFCB75;
    font-size: 80px;
    margin: 20px;

}
.mainBlock h1 {
    margin: 60px 0 0 0;
}

.circle1 {
    position: absolute;
    top: 10px;
    width: 90vh;
    height: 90vh;
    border: #C4C4C4 1px solid;
    border-radius: 50%;
}
.circle2 {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 70vh;
    height: 70vh;
    border: #C4C4C4 1px solid;
    border-radius: 50%;
}
.circle3 {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 40vh;
    height: 40vh;
    border: #C4C4C4 1px solid;
    border-radius: 50%;
}
.circle4 {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 40vh;
    height: 40vh;
    border: #C4C4C4 1px solid;
    border-radius: 50%;
}

.oriol1 {
    position: absolute;
    top: -150px;
    left: 400px;
    width: 700px;
    height: 100px;
    background-color: #FFCB75;
    opacity: 0.3;
    border-radius: 100px;
    filter: blur(100px);
}



.oriol2 {
    position: absolute;
    top: 40vh;
    left: 40vh;
    width: 500px;
    height: 500px;
    background-color: #FFCB75;
    opacity: 0.3;
    border-radius: 100px;
    filter: blur(100px);
}



