.mainBlock {
    position: relative;
    width: 100%;
    background-color: #F6F6F6;
    color: black;
    font-family: "Gill Sans Light", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;


}

.historyContainer {
    display: flex;
    height: 100%;
    width: 80%;
    flex-direction: column;
    margin-bottom: 100px;
}




