@font-face {
  font-family: 'Gill Sans';
  src: local('Gill Sans'),
  url('assets/fonts/gillSans/GillSansC.ttf') format('truetype');
  font-weight: auto;
}
@font-face {
  font-family: 'Yeseva One';
  src: local('Yeseva One'),
  url('assets/fonts/yesevaOne/YesevaOne.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Gill Sans Light';
  src: local('Gill Sans Light'),
  url('assets/fonts/gillSans/83-font.otf') format('opentype');
  font-weight: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
