.mainBlock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #F6F6F6;
}

.mainContainer {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
}

.imgBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    color: black;
    width: 435px;
    height: 271px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 30px;
}

.imgBlock p {
    margin-top: 10px;
}

.textBlock {
    color: black;
    font-size: 28px;
    margin-left: 30px;
}

.verticalLine {
    position: absolute;
    background: #2F2F2F;
    content: '';
    width: 1px;
    height: 200px;
    bottom: 50%;
    left: 60%;
    transform: translate(-50%, 50%);

}

.numText {
    font-family: 'Gill Sans Light', serif;
    margin-top: 5px;
}

.wednesdayBlock {
    margin-top: 20px;
}

.circle {
    position: absolute;
    top: 200px;
    left: -300px;
    width: 700px;
    height: 300px;
    background-color: #FFCB75;
    opacity: 0.3;
    border-radius: 100px;
    filter: blur(200px);
}
